.is-invalid::placeholder {
  color: red;
}

#loading-search {
  display: none;
}

#emailHelp,
#passHelp,
#nameHelpReg,
#emailHelpReg,
#passHelpReg,
#passHelpRegRepeat,
#chekHelpReg {
  display: none;
}

.card.card-body {
  height: 100%;
  background-color: rgba(9, 11, 14, 0.616);
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
